<div class="themeList">
    <mat-card class="theme" *ngFor="let theme of subscribedThemes$.value">
        <mat-card-title>
            <h2>{{theme.title}}</h2>
        </mat-card-title>
        <mat-card-content>
            <p>{{theme.content}}</p>
        </mat-card-content>
        <button mat-flat-button 
                color="primary" 
                type="button" 
                (click)="onClickSubscribe(theme.id)"
                *ngIf="!(isSubscribedToTheme(theme.id) | async)">
            S'abonner
        </button>
        <button mat-flat-button 
                color="primary" 
                type="button" 
                (click)="onClickUnSubscribe(theme.id)"
                *ngIf="isSubscribedToTheme(theme.id) | async">
            Se désabonner
        </button>        
    </mat-card>
</div>