<app-header></app-header>
<mat-card>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let theme of subscribedThemes$.value">
                <div>
                    <h2>{{theme.title}}</h2>
                    <p>{{theme.content}}</p>
                    <button mat-raised-button 
                            color="primary" 
                            type="button" 
                            (click)="onClickSubscribe(theme.id)"
                            *ngIf="!(isSubscribedToTheme(theme.id) | async)">
                        S'abonner
                    </button>
                    <button mat-raised-button 
                            color="warn" 
                            type="button" 
                            (click)="onClickUnSubscribe(theme.id)"
                            *ngIf="isSubscribedToTheme(theme.id) | async">
                        Se désabonner
                    </button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>