<app-header></app-header>
<a href="/auth">
    <img class="setupDirection" src="/assets/fleche.png" alt="flecheLogo" />
</a>
<div class="center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Se connecter</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
            <form class="flex-column">
                <mat-form-field>
                    <mat-label>E-mail ou nom d'utilisateur</mat-label>
                    <input matInput [(ngModel)]="username" name="username">
                </mat-form-field>                       
                
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput [(ngModel)]="user.password" type="password" name="password">
                </mat-form-field>
                
                <button mat-raised-button                 
                color="primary" 
                type="submit" 
                (click)="onSubmit()"
                [disabled]="!isFormValid()">
                Se connecter
                </button>      
            </form>                      
        </mat-card-content>
    </mat-card>
</div>


