.leftSide {
    display: flex;
    justify-content: left;
}

.align-items {
    align-items: center;
}

.mdd_logo {
    height: 80px;
    width: 120px;
}

.account_logo {
    margin-top: 12px;
    height: 50px;
    width: 50px;
}

.gap {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.space-btwn {
    justify-content: space-between;
}

a.active {
    color: rgb(116,81,235);
}

.profile mat-icon {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 40px;
}

.profile {
    color: gray;
}

.profile.active {
    color: rgb(116,81,235);
}