<div *ngIf="isLoggedIn()">
    <div class="flex-row space-btwn">
        <a [routerLink]="['/articles/home']">
            <img class="mdd_logo" src="/assets/logo_p6.png" alt="mddapi_logo" />
        </a>
        <div class="flex-row align-items">
            <a [routerLink]="['/articles/home']" routerLinkActive="active" class="gap">Articles</a>
            <a [routerLink]="['/articles/themes']" routerLinkActive="active" class="gap">Thèmes</a>
            <button mat-icon-button [routerLink]="['/profile/me']" routerLinkActive="active" class="profile">
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </div>

    <mat-divider></mat-divider>
</div>

