.user-auth-center {
    height: 95.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .flex-row {
        gap: 50px;
    }
}

@media screen and (max-width: 900px) {
    .user-auth-center .flex-row {
        flex-direction: column;
    }

    .user-auth-center img {
        height: 230px;
        width: 320px;
        margin-bottom: -10px;
    }
}