.full-header {

    .flex-row.space-btwn {
        justify-content: space-between;

        .mdd_logo {
            height: 80px;
            width: 120px;
        }

        .align-items {
            align-items: center;
            margin-right: 1rem;

            .gap {
                margin-left: 10px;
                margin-right: 10px;
            }
    
            
        }

        a {
            text-decoration: none;
        }

        a.active {
            color: rgb(116, 81, 235);
        }
        

        .profile {
            color: gray;
        }
        
        .profile mat-icon {
            transform: scale(2);
        }
        
        
        .profile.active {
            color: rgb(116, 81, 235);
        }
        
    }

    .mat-divider {
        margin-bottom: 1rem;
    }

}

.smallSize {
    visibility: hidden;
    display: flex;
    align-items: center;
    width: 50%;
    position: absolute;
    right: 0px;
    top: 0;
    height: 100%;

    button {
        z-index: 2;
        position: absolute;
        top: 20px;
        right: 0;
    }

    .mat-sidenav {
        width: 100%;
    }

    .mat-sidenav-container .mat-sidenav button {
        position: unset;
        bottom: 0;
        display: flex;
    }

    .sideNavContainer {
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border: 1px solid black;
        height: 100%;
        width: 100%;
    
        ::ng-deep .mat-drawer-inner-container {
            background-color: rgb(245, 245, 245);
        }
    
        .flex-column {
            margin-top: 200%;
        }
    
        .flex-column a {
            height: 50px;
            align-self: center;
            justify-self: center;
        }
    
        .organize .profile-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            position: absolute;
            bottom: 10px;
            right: 5px;
        }
    
    
    }
}


@media screen and (max-width : 900px) {
    .fullSize {
        visibility: hidden;
    }

    .smallSize {
        visibility: visible;
    }
}