.simple-header {
    
    .mat-divider {
        margin-bottom: 1rem;
    }
    
    .space-btwn {
        justify-content: space-between;

        .mdd_logo {
            height: 80px;
            width: 120px;
        }
    }
}