.gap {
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.unsetMarginLeft {
    margin-left: unset;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    // width: 100%;
}

.sortDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrowDown {
    height: 35px;
    transform: rotate(90deg);
}

.arrowUp {
    height: 35px;
    transform: rotate(-90deg);
}

p {
    margin: unset !important;
}

.articleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 900px) {
    .mat-card.article {
        width: calc(50% - 40px);
    }
}