<app-full-header></app-full-header>
<div class="flex-row button-container">
    <button mat-flat-button class="button-violet gap" color="primary" (click)="create()">Créer un article</button>
    <div class="sortDiv" (click)="sortByDate()">
        <p>Trier par Date</p>
        <mat-icon *ngIf="ascendant">arrow_upward</mat-icon>
        <mat-icon *ngIf="!ascendant">arrow_downward</mat-icon>
    </div>
</div>
<div class="articleList">
    <mat-card class="article" *ngFor="let article of articles" [routerLink]="['/articles/view', article.id]">
        <mat-card-title>
            <h2>{{article.title}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <div class="flex-row unsetMarginLeft margin-bottom">
                <p>{{article.date | date:'mediumDate'}}</p>
                <p class="capitalized">{{article.user}}</p>
            </div>
        </mat-card-subtitle>
        <mat-card-content>
            <p>{{article.content}}</p>
        </mat-card-content>
    </mat-card>
</div>