<app-header></app-header>
<div class="flex-row">
    <button class="gap" color="primary" (click)="create()">Créer un article</button>
    <!-- <p class="gap">Trier par</p> -->
    <button mat-button (click)="sortByDate()">Trier par Date</button>
</div>
<mat-card>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let article of articles">
                <div [routerLink]="['/articles/view', article.id]">
                    <h2>{{article.title}}</h2>
                    <div class="flex-row unsetMarginLeft">
                        <p>{{article.date| date:'mediumDate'}}</p>
                        <p>{{article.user}}</p>
                </div>
                <p>{{article.content}}</p>
            </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>