.gap {
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: baseline;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.left {
    justify-content: flex-start !important; 
    align-items: baseline;
}

.unsetMarginLeft {
    margin-left: 0px;
}

mat-card-content {

    mat-grid-list {
        margin: 15px;
    }

    mat-grid-tile {
        // border: 1px solid black;
        
        div {
            text-align: left; /* Alignement du texte à gauche */
            justify-content: left !important;
            margin-left: 15px;
        }
        
        h2 {
          font-size: 18px;
          font-weight: 550;
          text-align: left;
          margin: 0 0 8px 0;
          width: 100%;
        }
    
        p {
          font-size: 14px;
          text-align: left;
          margin: 0 0 16px 0;
          width: 100%; 
          flex-grow: 1;
        }
    }
}


.button-container {
    display: flex; /* Active Flexbox */
    justify-content: space-between; /* Espace entre les boutons */
    align-items: center; /* Aligne les boutons verticalement au centre */
    padding: 10px; /* Optionnel : ajoute un peu d'espace intérieur */
    width: 100%; /* Optionnel : s'adapte à la largeur du conteneur */
}

.sortDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrowDown {
    height: 35px;
    transform: rotate(90deg);
}

.arrowUp {
    height: 35px;
    transform: rotate(-90deg);
}

p {
    margin: unset !important;
}
