.gap {
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.unsetMarginLeft {
    margin-left: unset;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

.sortDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

p {
    margin: unset !important;
}

.articleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.mat-icon {
    transform: scale(1.5);
}


@media screen and (min-width: 900px) {
    .mat-card.article {
        width: calc(50% - 40px);
    }
}

@media screen and (max-width: 900px) {
    .button-container{
        flex-direction: column;
    }

    .sortDiv {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}