<app-header></app-header>
<a href="/auth">
    <img class="setupDirection" src="/assets/fleche.png" alt="flecheLogo" />
</a>

<mat-card>
    <mat-card-content>
        <h2>{{article.title}}</h2>
        <div class="flex-row unsetMarginLeft">
            <p>{{article.date| date:'mediumDate'}}</p>
            <p>{{article.user}}</p>
            <p>{{article.theme}}</p>
        </div>
        <p>{{article.content}}</p>
    </mat-card-content>    
</mat-card>
        
<mat-divider></mat-divider>

<mat-card>
    <mat-card-header>
        <mat-card-title>Commentaires</mat-card-title>
    </mat-card-header>
    
</mat-card>

<mat-grid-list cols="1" rowHeight="300px" gutterSize="0px">
    <mat-grid-tile *ngFor="let com of comments">
        <mat-card>
            <mat-card-content>{{com.user}}</mat-card-content>
            <mat-card-content>
                <p>{{com.content}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<mat-form-field class="example-full-width">
    <mat-label>Ecrivez ici votre commentaire</mat-label>
    <textarea matInput 
            [(ngModel)]="comment.content"></textarea>
    </mat-form-field>
    <button mat-raised-button 
                    color="warn" 
                    type="button" 
                    (click)="onSubmit()">
                    Envoyer
</button>
