.single-article-title {

    .mat-icon {
        transform: scale(1.5);
    }

    h2 {
        display: flex;
        align-items: center;

        mat-icon {
            margin-right: 1rem;
        }
    }


}

.margin-left {
    margin-left: 40px;

    .single-article {
        background-color: white;
        padding: 0;

    }

    mat-divider {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .commentsList {
        display: flex;
        flex-direction: column;

        h2 {
            display: flex;
            justify-self: left;
            margin-bottom: 2rem;
        }

        .comments {
            background-color: white;
            display: flex;
            gap: 1rem;
            padding: 0;
            padding-bottom: 1rem;

            .mat-card-subtitle {
                width: 100px;
            }

            .mat-card-content {
                border-radius: 16px;
                padding: 1rem;
                width: 100%;
                background-color: rgb(245, 245, 245);
            }

            .overHeight {
                height: 50px;
            }

        }

    }

    .commentArticle {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        mat-form-field,
        .mat-form-field-infix,
        mat-card-content {
            width: 100%;
        }

        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
            padding-bottom: 0;
        }

        ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
            bottom: 0;
        }

        .comment {
            background-color: white;
            display: flex;
            width: 100%;

            ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
                color: black;
            }

            .send {
                transform: rotate(-45deg);
                align-self: center;
            }

            .overCommentHeight {
                height: 150px;
            }
        }

        mat-card-content {
            display: flex;
            gap: 1rem;

        }
    }

}