<app-full-header></app-full-header>
<div class="single-article-title">
    <h2>
        <a [routerLink]="['/auth']">
            <mat-icon>arrow_back</mat-icon>
        </a>
        {{article.title}}
    </h2>
</div>

<div class="margin-left">
    <mat-card class="single-article">

        <mat-card-subtitle>
            <div class="flex-row">
                <p>{{article.date| date:'mediumDate'}}</p>
                <p class="capitalized">{{article.user}}</p>
                <p>{{article.theme}}</p>
            </div>
        </mat-card-subtitle>

        <mat-card-content>
            <p>{{article.content}}</p>
        </mat-card-content>
    </mat-card>

    <mat-divider class="custom-mat-divider"></mat-divider>

    <div class="commentsList">
        <h2>Commentaires</h2>
        <div *ngIf="comments.length != 0">
            <mat-card class="comments" *ngFor="let com of comments">
                <mat-card-subtitle>
                    <p class="capitalized">{{com.user}}</p>
                </mat-card-subtitle>
                <mat-card-content>
                    <p class="overHeight">{{com.content}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="commentArticle">
        <mat-card class="comment">
            <mat-card-content>
                <mat-form-field class="comment-border" appearance="outline">
                    <mat-label>Ecrivez ici votre commentaire</mat-label>
                    <input class="overCommentHeight" matInput [(ngModel)]="comment.content">
                </mat-form-field>

                <button mat-icon-button class="send" color="primary" type="button" (click)="onSubmit()">
                    <mat-icon>send</mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</div>