html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a, text {
    color: black;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.button-White {
    width: 220px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: 700;
}

.button-White:hover {
    background-color: rgb(116,81,235);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    height: 30px; 
    border-width: 1px;   
    border-radius: 5px;
}


button {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    
    align-items: center;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    font-weight: 600;
    
    // justify-self: center;
    
    background-color: rgb(116,81,235);
    color: beige;
}

.margin-bottom {
    margin-bottom: 15px;
}

/* ANGULAR MATERIAL COMPONENTS */

mat-card {
    box-shadow: none !important;
}

mat-card-header {
    justify-content: center;
}

mat-card-content {

    mat-grid-list {
        margin: 15px;
    }

    mat-grid-tile {
        background-color: rgb(245, 245, 245);
        border-radius: 16px;

        div {
            text-align: left;
            justify-content: left !important;
            align-items: unset !important;
            margin-left: 15px;
        }
        
        h2 {
          font-size: 18px;
          font-weight: 550;
          text-align: left;
          margin: 0 0 8px 0;
          width: 100%;
        }
    
        p {
          font-size: 14px;
          text-align: left;
          margin: 0 0 16px 0;
          width: 100%; 
          flex-grow: 1;
        }
    }
}