.user-login-title {
    display: grid;

    h2 {
        justify-self: center;
    }

    mat-icon {
        margin-right: 1rem;
    }
}

.flex-column {
    display: grid;
}

.center {
    align-items: center;
}

.user-login-form {
    background-color: white;
    justify-self: center;
    width: 25%;
    align-items: center;

    ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgb(116, 81, 235);

    }

    button.mat-flat-button {
        display: flex;
        justify-self: center;
        justify-content: center;
        width: 50%;
        align-items: center;
    }
}