<div class="create-component-title">
  <a [routerLink]="['/auth']">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <h2>
    Créer un nouvel article
  </h2>
</div>

<div class="center">
  <mat-card class="create-component">

    <mat-card-content>
      <form class="create-component-form flex-column">

        <mat-form-field appearance="outline">
          <mat-label>Thème</mat-label>
          <mat-select [(ngModel)]="article.themeId" name="theme">
            <mat-option *ngFor="let option of options" [value]="option.id">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Titre</mat-label>
          <input matInput [(ngModel)]="article.title" name="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contenu</mat-label>
          <!-- <textarea matInput rows="5" [(ngModel)]="article.content" name="content"></textarea> -->
          <input class="oversized" matInput [(ngModel)]="article.content" name="content">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!isFormValid()">
          Créer
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>