<app-header></app-header>
<mat-card class="center">
  <mat-card-header>
      <mat-card-title>Créer un nouvel article</mat-card-title>
  </mat-card-header>

  <mat-form-field>
    <mat-select placeholder="Thème" 
                [(ngModel)]="article.themeId">
      <mat-option *ngFor="let option of options" [value]="option.id">
        {{ option.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Titre"
            [(ngModel)]="article.title">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Contenu"
            [(ngModel)]="article.content">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" 
        (click)="onSubmit()">
        Créer
  </button>
</mat-card>