<app-header></app-header>

<mat-card class="center">
  <mat-card-header>
      <mat-card-title>Profil utilisateur</mat-card-title>
  </mat-card-header>

  <mat-form-field>
    <input matInput 
          placeholder="username" 
          [(ngModel)]="user.name">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput 
          placeholder="pat@example.com" 
          [(ngModel)]="user.email">
  </mat-form-field>
  
  <button mat-raised-button 
        color="primary" 
        type="submit" 
        (click)="onSubmit()">
        Sauvegarder
  </button>
  <button type="submit" 
          (click)="logOut()">
          Se déconnecter
  </button>
</mat-card>