.profil-form {
    
    h2 {
        display: flex;
        justify-content: center;
    }
    
    .center {
        align-items: center;
    }
    
    .red {
        color: red;
    }

    mat-card.mat-card {
        background-color: white;
    }

    mat-card.mat-card {
    
        .mat-form-field-appearance-outline .mat-form-field-outline {
            color: rgb(116, 81, 235);
    
        }
    }
}

.profil-me-subs {
    
    .subsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    h2 {
        display: flex;
        justify-content: center;
    }

    .custom-mat-divider {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 900px) {
    .mat-card.sub {
        width: calc(50% - 40px);
    }
}