<div class="center profil-form">
  <mat-card>
    <mat-card-title>
      <h2>Profil utilisateur</h2>
    </mat-card-title>

    <mat-card-content>
      <form class="center">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="user.name" name="username">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput [(ngModel)]="user.email" name="email">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!isFormValid()">
          Sauvegarder
        </button>

        <button mat-flat-button class="red" type="submit" (click)="logOut()">
          Se déconnecter
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="displayThemes$.value.length > 0">
<mat-divider class="custom-mat-divider"></mat-divider>
  <h2>Abonnements</h2>
  <div class="subsList">
    <mat-card class="sub" *ngFor="let theme of displayThemes$.value">
      <mat-card-title>
        <h2>{{theme.title}}</h2>
      </mat-card-title>
      
      <mat-card-content>
        <p>{{theme.content}}</p>
      </mat-card-content>
        <button mat-flat-button color="primary" type="button" (click)="onClickUnSubscribe(theme.id)">
          Se désabonner
        </button>
    </mat-card>
  </div>
</div>